[Unit]
Description=Stop Minecraft server when GUI is started
After=graphical.target
Wants=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -i -c "minecraft-server-stop-on-gui.sh"
Restart=on-failure

[Install]
WantedBy=graphical.target
