[Unit]
Description=Stop Minecraft server when GUI is started
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -i -c "minecraft-server-stop-on-gui.sh"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
