[Desktop Entry]
Type=Application
Name=a-check-dots-repo
Comment=
Exec=/mnt/e/dotfiles/bin/check-dots-repo.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

