[Desktop Entry]
Type=Application
Name=a-chatgpt
Comment=
Exec=google-chrome-stable --app="https://chat.openai.com/c/cee29e8b-bfd7-4971-b806-478512bf8650" --class=WebApp-Google6348
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

